@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>Contact</h1>
</hgroup>

<section class="contact">
    <p>
        <span>Ireland:</span>
        <a href="tel:00353084613824">+353 (08) 461 3824</a>
    </p>
    <p>
        <span>Australia:</span>
        <a href="tel:00353084613824">+61 0409 775 751</a>
    </p>
    <p>
        <span>Email:</span>
        <a href="mailto:mattycraze@gmail.com">mattycraze@gmail.com</a>
    </p>
</section>